<% if logged_in? %>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <%= image_tag post.photo.url if post.photo %>
    <% end %>
    <%= paginate @posts %>
  <% end %>
<% else %>
  <div class='jumbotron jumbotron-extend'>
    <div class='container-fluid jumbotron-container'>
      <h1>Mama Cafe</h1>
      <p><%= link_to "Mama cafe とは？", detail_path, class: 'btn' %></p>
      <p><%= link_to "はじめる", login_path, class: 'btn' %></p>
    </div>
  </div>
<% end %>